@page "/workflows/index"
@inject IJSRuntime jsRuntime
@inject IDialogService Dialog
@inject IHttpRepository<WorkFlowDto> workflowService
@inject HttpInerceptorService _interceptor
@attribute [Authorize]

@implements IDisposable

<div class="side-app">
					 <!-- CONTAINER -->
					 <div class="main-container container-fluid">
						<!-- PAGE-HEADER -->
						<div class="page-header">
								<div>
									<h1 class="page-title">Workflows</h1>
								</div>
								<div class="ms-auto pageheader-btn">
									<ol class="breadcrumb">
										<li class="breadcrumb-item">Home</li>
										<li class="breadcrumb-item"><a href="javascript:void(0);">Workflows</a></li>
										<li class="breadcrumb-item active" aria-current="page">List</li>
									</ol>
								</div>
							</div>
                              <div class="col-md-2 mb-3">
									<div class="btn-list">
										<a href="javascript:void()" class="btn btn-primary" @onclick="(()=>OpenCreateForm())">
											<svg xmlns="http://www.w3.org/2000/svg"  class="w-inner-icn text-white" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M16,11.5h-3.5V8c0-0.276123-0.223877-0.5-0.5-0.5S11.5,7.723877,11.5,8v3.5H8c-0.276123,0-0.5,0.223877-0.5,0.5s0.223877,0.5,0.5,0.5h3.5v3.5005493C11.5001831,16.2765503,11.723999,16.5001831,12,16.5h0.0006104C12.2765503,16.4998169,12.5001831,16.276001,12.5,16v-3.5H16c0.276123,0,0.5-0.223877,0.5-0.5S16.276123,11.5,16,11.5z M12,2C6.4771729,2,2,6.4771729,2,12s4.4771729,10,10,10c5.5202026-0.0062866,9.9937134-4.4797974,10-10C22,6.4771729,17.5228271,2,12,2z M12,21c-4.9705811,0-9-4.0294189-9-9s4.0294189-9,9-9c4.9682617,0.0056152,8.9943848,4.0317383,9,9C21,16.9705811,16.9705811,21,12,21z"></path></svg>
											New Workflow
										</a>
										
									</div>
								</div>
        <MudTable Loading="loading" Items="@Workflows" Dense="true" Hover="@hover" Bordered="@bordered"
            Striped="@striped" Filter="new Func<WorkFlowDto,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
            <ToolBarContent>
                <MudText Typo="Typo.h6">List</MudText>
                <MudSpacer />
                <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start"
                    AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Id</MudTh>
                <MudTh>Status</MudTh>
                <MudTh>UserGroup</MudTh>
                <MudTh>Licence Type</MudTh>
                <MudTh>Step</MudTh>
                <MudTh>LastStep</MudTh>
                <MudTh>Active</MudTh>
                <MudTh>CreatedBy</MudTh>
                <MudTh>CreatedOn</MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Nr">@context.Id</MudTd>
                <MudTd DataLabel="Region">@context.LicenceStatus</MudTd>
                <MudTd DataLabel="Name">@context.UserGroup</MudTd>
                <MudTd DataLabel="Name">@context.LicenceType</MudTd>
                <MudTd DataLabel="Name">@context.Step</MudTd>
                <MudTd DataLabel="Name">@context.LastStep</MudTd>
                <MudTd DataLabel="Active">@context.Active</MudTd>
                <MudTd DataLabel="CreatedBy">@context.CreatedBy</MudTd>
                <MudTd DataLabel="CreatedOn">@context.CreatedOn</MudTd>
                <MudTd DataLabel="Actions">
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Outlined" Color="Color.Error"
                        Size="Size.Small" />
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Outlined" Color="Color.Primary"
                        Size="Size.Small" />

                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>

    </div>
</div>


@code {
    private bool dense = false;
    private bool hover = true;
    private bool striped = false;
    private bool bordered = false;
    private bool loading = true;
    private string searchString1 = "";
    private WorkFlowDto selectedItem1 = null;
    private HashSet<WorkFlowDto> selectedItems = new HashSet<WorkFlowDto>();
    DialogOptions maxWidth = new DialogOptions()
    {
        MaxWidth = MaxWidth.Large,
        FullWidth = true,
        Position = DialogPosition.TopCenter
    };

    private List<WorkFlowDto> Workflows = new List<WorkFlowDto>();

    protected override async Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        Workflows = await workflowService.GetAll($"{EndPoints.WorkflowEndPoint}");
        loading = false;
    }

    private void OpenCreateForm()
    {
        Dialog.Show<Create>("Add New Workflow", maxWidth);
    }

    private bool FilterFunc1(WorkFlowDto element) => FilterFunc(element, searchString1);

    private bool FilterFunc(WorkFlowDto element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.LicenceStatus.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Id.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}
