@page "/companies/detail/{id:int}"
@using Component
@using MoeSystem.Client.Pages.Companies.Component

@inject IHttpRepository<CompanyDetailDto> companyService
@inject IHttpRepository<CompanyDocumentDetailDto> companyDocumentService
    @inject IDialogService Dialog

            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between g-3">
                        <div class="nk-block-head-content">
                            <h3 class="nk-block-title page-title">Company / <strong
                                    class="text-primary small">@Company.Name</strong></h3>
                            <div class="nk-block-des text-soft">
                                <ul class="list-inline">
                                    <li>Company ID: <span class="text-base">@Company.Id</span></li>
                                    <li>Last Update: <span class="text-base">
                                            @Company.UpdatedOn.ToString("dd MMM,yyyy hh:mm tt")</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="nk-block-head-content">
                            <a href="html/user-list-regular.html"
                                class="btn btn-outline-light bg-white d-none d-sm-inline-flex"><em
                                    class="icon ni ni-arrow-left"></em><span>Back</span></a>
                            <a href="html/user-list-regular.html"
                                class="btn btn-icon btn-outline-light bg-white d-inline-flex d-sm-none"><em
                                    class="icon ni ni-arrow-left"></em></a>
                        </div>
                    </div>
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="card">
                        <div class="card-aside-wrap">
                            <div class="card-content">
                                    @if(loading){
                                    
<MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />

                                    }else{
                                <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">

                                    <MudTabPanel Text="Company" Icon="@Icons.Filled.AccountBox">
                                       <CompanyDetail Detail="Company"/>
                                    </MudTabPanel>
                                    <MudTabPanel Text="Documents" Icon="@Icons.Filled.Article">
                                       
                                        <CompanyDocuments CompanyId="Company.Id" CompanyEventCallBack="GetComany" DialogOptions="maxWidth"/>
                                    </MudTabPanel>
                                    <MudTabPanel Text="Ownerships" Icon="@Icons.Filled.SwitchAccount">

                                      
                                        <CompanyOwnerships CompanyId="Company.Id" CompanyEventCallBack="GetComany"/>
                                    </MudTabPanel>
                                    <MudTabPanel Text="Licences" Icon="@Icons.Filled.Payments">
                                        <MudButton Variant="Variant.Filled"  StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary">Add Licence</MudButton>

                                           <MudTable  Items="Company.Licences" Dense="true"
                                            Hover="true" Bordered="true" Striped="true"
                                            Filter="new Func<LicenceDto,bool>(FilterLicence)"
                                            @bind-SelectedItem="selectedLicenceItem">
                                            <ToolBarContent>
                                                <MudText Typo="Typo.h6">Licences</MudText>
                                                <MudSpacer />
                                                <MudTextField @bind-Value="searchLicence" Placeholder="Search"
                                                    Adornment="Adornment.Start"
                                                    AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium"
                                                    Class="mt-0"></MudTextField>
                                            </ToolBarContent>
                                            <HeaderContent>
                                                <MudTh>Id</MudTh>
                                                <MudTh>Licence id</MudTh>
                                                <MudTh>Type</MudTh>
                                                <MudTh>Start Date</MudTh>
                                                <MudTh>End Date</MudTh>
                                                <MudTh>Mineral Type</MudTh>
                                                <MudTh>Status</MudTh>
                                                <MudTh>CreatedOn</MudTh>
                                                <MudTh>Actions</MudTh>
                                            </HeaderContent>
                                            <RowTemplate>
                                                <MudTd DataLabel="Nr">@context.Id</MudTd>
                                                <MudTd DataLabel="Region">@context.LicenceId</MudTd>
                                                <MudTd DataLabel="Name">@context.LicenceType</MudTd>
                                                <MudTd DataLabel="Name">@context.LicenceStartDate.Value.ToShortDateString()</MudTd>
                                                <MudTd DataLabel="Name">@context.LicenceEndDate.ToShortDateString()</MudTd>
                                                <MudTd DataLabel="Name">@context.MineralType</MudTd>
                                                <MudTd DataLabel="Name">@context.Status</MudTd>

                          
                                                <MudTd DataLabel="CreatedOn">@context.CreatedOn</MudTd>
                                                <MudTd DataLabel="Actions">
                                                    <MudIconButton Icon="@Icons.Filled.RemoveRedEye" Href="@($"/licences/detail/{context.Id}")"
                                                        Variant="Variant.Outlined" Color="Color.Primary"
                                                        Size="Size.Small" />
                                                    

                                                </MudTd>
                                            </RowTemplate>
                                            <PagerContent>
                                                <MudTablePager />
                                            </PagerContent>
                                        </MudTable>
                                    </MudTabPanel>
                                       <MudTabPanel Text="Company Licence" Icon="@Icons.Filled.AccessTimeFilled">
                                            <MudButton Variant="Variant.Filled" @onclick="OpenLicenceForm" StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary">Add Company Licence</MudButton>
                                        <CompanyLicences Company="Company" CompanyEventCallBack="GetComany"/>
                                    </MudTabPanel>
                                    <MudTabPanel Text="Activities" Icon="@Icons.Filled.Psychology">
                                       <CompanyLogs CompanyId="Company.Id"/>
                              
                                    </MudTabPanel>
                                </MudTabs>
                                    }


                            </div><!-- .card-content -->
                       
                        </div><!-- .card-aside-wrap -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>

   <div class="modal fade text-left " id="print-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true" style="display: none;">

                                                            <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                                                                <div class="modal-content">

                                                                    <div class="modal-header badge badge-info">
                                                                        <h4 class="modal-title" id="myModalLabel1">Documents</h4>

                                                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                                                    </div>

                                                                    <div class="modal-body">
                                                                        <div class="input-group">
                                                                            <div id="pdf_files"></div>

                                                                        </div>
                                                                    </div>



                                                                </div>
                                                            </div>
                                                        </div>

@code {
    [Parameter]
    public int Id { get; set; }

    private CompanyDetailDto Company = new CompanyDetailDto();

    protected async override Task OnParametersSetAsync()
    {

        await GetComany();
    }

 

    private async Task GetComany(){
        loading=true;
        Company = await companyService.Get($"{EndPoints.CompaniesEndPoint}GetCompanyDetail/", Id);
        loading=false;
    }

    private bool loading=true;




    private string searchLicence = "";

    private LicenceDto selectedLicenceItem = null;


    DialogOptions maxWidth = new DialogOptions()
    {
        MaxWidth = MaxWidth.Medium,
        FullWidth = true,
        Position = DialogPosition.TopCenter,
        

    };

  

    
    private async Task OpenLicenceForm()
    {
        var parameters = new DialogParameters();
        parameters.Add("CompanyId", Company.Id);
        var dialog = Dialog.Show<CreateCompanyLicence>("Add New Company Licence", parameters, maxWidth);
        var result = await dialog.Result;
        await GetComany();
    }
    private bool FilterLicence(LicenceDto element) => FilterLicence1(element, searchLicence);

    private bool FilterLicence1(LicenceDto element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.LicenceType.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Id.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    }
}