@page "/companies/index"
@inject IJSRuntime jsRuntime
@inject IDialogService Dialog
@inject IHttpRepository<PagedResult<CompanyDto>> companyService
@inject HttpInerceptorService _interceptor
@attribute [Authorize]

@implements IDisposable

<div class="nk-content-body">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Companies</h3>
            </div><!-- .nk-block-head-content -->
            <div class="nk-block-head-content">
                <div class="toggle-wrap nk-block-tools-toggle">
                    <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em
                            class="icon ni ni-more-v"></em></a>
                    <div class="toggle-expand-content" data-content="pageMenu">
                        <ul class="nk-block-tools g-3">
                            <li>
                                <div class="drodown">
                                    <a href="#" class="dropdown-toggle btn btn-white btn-dim btn-outline-light"
                                        data-bs-toggle="dropdown"><em
                                            class="d-none d-sm-inline icon ni ni-calender-date"></em><span><span
                                                class="d-none d-md-inline">Import</span> Excel</span><em
                                            class="dd-indc icon ni ni-chevron-right"></em></a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <ul class="link-list-opt no-bdr">
                                            <li><a href="#"><span>Last 30 Days</span></a></li>
                                            <li><a href="#"><span>Last 6 Months</span></a></li>
                                            <li><a href="#"><span>Last 1 Years</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
               
                            <li class="nk-block-tools-opt"><button @onclick="(()=>OpenCreateForm(null))" class="btn btn-info"><em
                                        class="icon ni ni-plus"></em><span>Add Company</span></button></li>
                      
                        </ul>
                    </div>
                </div>
            </div><!-- .nk-block-head-content -->
        </div><!-- .nk-block-between -->
    </div><!-- .nk-block-head -->
    <div class="nk-block">
        <MudTable Loading="loading" ServerData="@(new Func<TableState, Task<TableData<CompanyDto>>>(LoadCompanies))" @ref="table" Dense="true" Hover="@hover" Bordered="@bordered"
            Striped="@striped">
            <ToolBarContent>
                <MudText Typo="Typo.h6">List</MudText>
                <MudSpacer />
                <MudTextField T="string" ValueChanged="@(searchTerm => OnSearch(searchTerm))" Placeholder="Search" Adornment="Adornment.Start"
                    AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Id</MudTh>
                <MudTh>Comp Id</MudTh>
                <MudTh>Company Type</MudTh>
                <MudTh>Name</MudTh>
                <MudTh>Phone</MudTh>
                <MudTh>Type</MudTh>
                <MudTh>Region</MudTh>
                <MudTh>City</MudTh>
                <MudTh>CreatedBy</MudTh>
                <MudTh>CreatedOn</MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Nr">@context.Id</MudTd>
                <MudTd DataLabel="Region">@context.CompanyId</MudTd>
                <MudTd DataLabel="Name">@context.CompanyType</MudTd>
                <MudTd DataLabel="Name">@context.Name</MudTd>
                <MudTd DataLabel="Name">@context.TellPhone</MudTd>
                <MudTd DataLabel="Name">@context.Type</MudTd>
                <MudTd DataLabel="Name">@context.Region</MudTd>
                <MudTd DataLabel="Name">@context.City</MudTd>
                <MudTd DataLabel="CreatedBy">@context.CreatedBy</MudTd>
                <MudTd DataLabel="CreatedOn">@context.CreatedOn.ToShortDateString()</MudTd>
                <MudTd DataLabel="Actions">
                    <MudIconButton Icon="@Icons.Filled.RemoveRedEye" Variant="Variant.Outlined" Color="Color.Info"
                        Size="Size.Small" Href="@($"/companies/detail/{context.Id}")" Target="" />
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" @onclick="(()=>OpenCreateForm(id:context.Id))" Variant="Variant.Outlined" Color="Color.Primary"
                        Size="Size.Small" />

                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="pageSizeOptions"></MudTablePager>
            </PagerContent>
        </MudTable>

    </div>
</div>


@code {
 
    private MudTable<CompanyDto> table;
    private int[] pageSizeOptions = new int[] { 5, 10, 15 };
    private bool dense = false;
    private bool hover = true;
    private bool striped = false;
    private bool bordered = false;
    private bool loading = true;
    private string searchString1 = "";
    private CompanyDto selectedItem1 = null;
    private HashSet<CompanyDto> selectedItems = new HashSet<CompanyDto>();
    DialogOptions maxWidth = new DialogOptions()
    {
        MaxWidth = MaxWidth.Large,
        FullWidth = true,
        Position = DialogPosition.TopCenter,
         CloseOnEscapeKey = true
    };

    private void OnSearch(string searchTerm)
{
    searchString1 = searchTerm;
    table.ReloadServerData();
}








    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        table.SetRowsPerPage(10);
        return base.OnAfterRenderAsync(firstRender);
    }

    private async Task OpenCreateForm(int? id=null)
    {
        IDialogReference dialog;
        var parameters = new DialogParameters();
        if(id!=null){
        parameters.Add("Id", id.Value);
        parameters.Add("ButtonText", "Update Company");
        dialog= Dialog.Show<Create>("Update Company",parameters, maxWidth);
        }else{
        parameters.Add("ButtonText", "Register Company");

        dialog= Dialog.Show<Create>("Add New Company",parameters, maxWidth);
        }
        var result = await dialog.Result;
        

        await table.ReloadServerData();
        
    }

     public async Task<TableData<CompanyDto>> LoadCompanies(TableState state)
    {
        System.Console.WriteLine("Hello there");
         _interceptor.MonitorEvent();
        var response = await companyService.GetPagined($"{EndPoints.CompaniesEndPoint}?startIndex={(state.Page + 1)}&pagesize={state.PageSize}&name={searchString1}");
        loading = false;
 
        return new TableData<CompanyDto>() { Items = response.Data, TotalItems =response.TotalCount };
    }

    private bool FilterFunc1(CompanyDto element) => FilterFunc(element, searchString1);

    private bool FilterFunc(CompanyDto element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
            if (element.TellPhone.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Id.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        table.ReloadServerData();
        return false;
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}
