@page "/licenceworkflows/print/{id:int}"
@using Net.ConnectCode.BarcodeFontsStandard2D
@inject IHttpRepository<LicenceDetailDto> licenceService
@inject IJSRuntime jsRuntime
@attribute [Authorize]

@layout EmptyLayout
<style>
    media(max-width: 575.98px) {
        html body .content .content-wrapper {
            padding: calc(2.2rem - 0.4rem) calc(2.2rem - 1rem) 0;
        }
    }

    media(max-width: 575.98px) {

        body.navbar-static .app-content .header-navbar .navbar-container,
        body.navbar-sticky .app-content .header-navbar .navbar-container {
            padding-left: 1rem;
            padding-right: 0.5rem;
        }
    }

    mediascreen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
        html.full-screen {
            width: 100%;
        }

        html.full-screen .content.app-content {
            height: 100%;
            overflow: scroll;
            overflow-x: hidden;
        }
    }

    }
</style>

<body>
    <div class="nk-block">
        <div class="invoice invoice-print">
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    <img src="images/som.png" width="100" height="100" />
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">


                    <address>

                        <h5><b>REPUBLIC OF SOMALILAND</b></h5><br>
                        <h5><b>MINISTRY OF ENERGY AND MINERALS</b></h5><br>

                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <img src="images/moe.jpg" width="100" height="100" />

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->









            <div class="invoice-bills">
                <div class="table-responsive">
                    <table class="table  table-bordered" style="font-size:medium;font-weight:bold;color:black">

                        <tbody>
                            <tr>
                                <td>Licence Id</td>
                                <td>@Licence.LicenceId</td>

                            </tr>
                            <tr>
                                <td>Company Name</td>
                                <td>@Licence.Company.Name</td>

                            </tr>
                            <tr>
                                <td>Regoin</td>
                                <td>@Licence.Region</td>

                            </tr>
                            <tr>
                                <td>Type Of Mineral</td>
                                <td>@Licence.LicenceType.Name</td>

                            </tr>
                            <tr>
                                <td>Term Of The Licence</td>
                                <td>@Licence.TermOfTheLicence</td>

                            </tr>
                            <tr>
                                <td>Term Commense On</td>
                                <td>
                                    @Licence.LicenceStartDate.Value.ToString("dd-MM-yyyy")

                                </td>

                            </tr>
                            <tr>
                                <td>Term Commense On</td>
                                <td>
                                    @Licence.LicenceEndDate.ToString("dd-MM-yyyy")

                                </td>

                            </tr>
                            <tr>
                                <td>Area</td>
                                <td>@Licence.Area</td>

                            </tr>
                        </tbody>
                        @* <tfoot>
                            <tr>
                            <td colspan="2"></td>
                            <td colspan="2">Subtotal</td>
                            <td>$435.00</td>
                            </tr>
                            <tr>
                            <td colspan="2"></td>
                            <td colspan="2">Processing fee</td>
                            <td>$10.00</td>
                            </tr>
                            <tr>
                            <td colspan="2"></td>
                            <td colspan="2">TAX</td>
                            <td>$43.50</td>
                            </tr>
                            <tr>
                            <td colspan="2"></td>
                            <td colspan="2">Grand Total</td>
                            <td>$478.50</td>
                            </tr>
                            </tfoot> *@
                    </table>
                </div>
            </div><!-- .invoice-bills -->

        </div><!-- .invoice -->
    </div><!-- .nk-block -->
    @* <script>
        function printPromot() {
        window.print();
        }
        </script> *@
</body>

@code {
    [Parameter]
    public int Id { get; set; }
    private bool loading = false;
    private LicenceDetailDto Licence = new LicenceDetailDto();
    protected async override Task OnParametersSetAsync()
    {

        await GetLicence();
    }
    private async Task PrintContent()
    {
        await jsRuntime.InvokeVoidAsync("printContent", "printContent");
    }



    protected override void OnInitialized()
    {

    }

    private async Task GetLicence()
    {
        loading = true;
        Licence = await licenceService.Get($"{EndPoints.LicencesEndPoint}GetLicenceDetail/", Id);
        loading = false;
    }
}