@page "/users/detail/{id}"
@inject IHttpRepository<UserDto> authService
@inject IDialogService Dialog
@using MoeSystem.Client.Pages.Authentications.Components

		<div class="side-app">
						<!-- CONTAINER -->
						<div class="main-container container-fluid">

							<!-- PAGE-HEADER -->
							<div class="page-header">
								<div>
									<h1 class="page-title">User Detail</h1>
								</div>
								<div class="ms-auto pageheader-btn">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
										<li class="breadcrumb-item active" aria-current="page">User</li>
									</ol>
								</div>
							</div>
							<!-- PAGE-HEADER END -->
@if (loading==true){

	<div class="dimmer active center">
												<div class="lds-hourglass"></div>
											</div>
			}
else{
		
							<!-- ROW-1 OPEN -->
							<div class="row" id="user-profile">
								<div class="col-lg-12">
									<div class="card">
										<div class="card-body">
											<div class="row align-items-center">
												<div class="col-lg-12 col-md-12 col-xl-6">
													<div class="d-flex flex-wrap align-items-center">
														<div class="profile-img-main rounded">
															<img src="assets/images/faces/6.jpg" alt="img" class="m-0 p-1 rounded hrem-6">
														</div>
														<div class="ms-4">
															<h4>@User.FirstName @User.LastName</h4>
															<h6>@User.Email</h6>
														
															
														</div>
													</div>
												</div>
												<div class="col-lg-12 col-md-12 col-xl-6">
													<div class="d-md-flex flex-wrap justify-content-lg-end">
														<div class="media m-3">
															<div class="media-icon bg-primary me-3 mt-1">
																<i class="fe fe-file-plus fs-20 text-white"></i>
															</div>
															<div class="media-body">
																<span class="text-muted">Total Projects</span>
																<div class="fw-semibold fs-25">
																	
																</div>
															</div>
														</div>
														<div class="media m-3">
															<div class="media-icon bg-info me-3 mt-1">
																<i class="fe fe-users  fs-20 text-white"></i>
															</div>
															<div class="media-body">
																<span class="text-muted">Total Tasks</span>
																<div class="fw-semibold fs-25">
																
																</div>
															</div>
														</div>
														<div class="media m-3">
															<div class="media-icon bg-warning me-3 mt-1">
																<i class="fe fe-wifi fs-20 text-white"></i>
															</div>
															<div class="media-body">
																<span class="text-muted">Total Notes</span>
																<div class="fw-semibold fs-25">
																	
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="border-top">
											<div class="wideget-user-tab">
												<div class="tab-menu-heading">
													<div class="tabs-menu1">
														<ul class="nav">
															<li><a href="#profileMain" class="active show" data-bs-toggle="tab">General</a></li>
															<li><a href="#changePassword" data-bs-toggle="tab">Change Password</a></li>
															<AuthorizeView Roles="Administrator">

															<li><a href="#editProfile" data-bs-toggle="tab">Roles</a></li>
													
															</AuthorizeView>
															<li><a href="#timeline" data-bs-toggle="tab">Logs</a></li>
													
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="tab-content">
										<div class="tab-pane active show" id="profileMain">
											<div class="card">
												<div class="card-body p-0">
												
													<div class="border-top"></div>
													<div class="table-responsive p-5">
														<h3 class="card-title">User Info</h3>
														<table class="table row table-borderless">
															<tbody class="col-lg-12 col-xl-6 p-0">
																<tr>
																	<td><strong class="mr-3">First Name :</strong> @User.FirstName</td>
																</tr>
                                                                <tr>
																	<td><strong class="mr-3">Last Name :</strong> @User.LastName</td>
																</tr>
																<tr>
																	<td><strong class="mr-3">Phone :</strong> @User.PhoneNumber</td>
																</tr>
																
                                                                	<tr>
																	<td><strong class="mr-3">Group :</strong> @User.UserGroup</td>
																</tr>
															</tbody>
															<tbody class="col-lg-12 col-xl-6 p-0 border-top-0">
																<tr>
																	<td><strong class="mr-3">Email :</strong> @User.Email</td>
																</tr>
															<tr>
																	<td><strong class="mr-3">Region :</strong> @User.Region</td>
																</tr>
                                                                	<tr>
																	<td><strong class="mr-3">City :</strong> @User.City</td>
																</tr>
															</tbody>
														</table>
													</div>
													
												
												
												</div>
											</div>
										</div>
										<div class="tab-pane" id="editProfile">
											<MoeSystem.Client.Pages.Authentications.Components.UserRoles User="User" />
										</div>
										<div class="tab-pane" id="changePassword">
											  
											<MoeSystem.Client.Pages.Authentications.Components.ChangePassword ButtonText="Change Password" />
											
										</div>
									
										<div class="tab-pane" id="timeline">
											
										</div>
									
									
									
									</div>
								</div><!-- COL-END -->
							</div>
}
							<!-- ROW-1 CLOSED -->

						</div>
					</div>
@code {
    [Parameter]
    public string Id { get; set; }

	  private UserDto User = new UserDto();

    protected async override Task OnParametersSetAsync()
    {

        await GetContract();
    }

	  private bool loading = true;

	  private async Task GetContract()
    {
        loading = true;
        User = await authService.Get($"{EndPoints.AccountEndPoint}getDetail/", Id);
        loading = false;
    }


}