@page "/users/index"
@inject IHttpRepository<UserDto> authService
@inject IJSRuntime jsRuntime
@implements IDisposable
@inject IDialogService Dialog
@inject HttpInerceptorService _interceptor



<div class="nk-content-body">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Users</h3>
            </div><!-- .nk-block-head-content -->
            <div class="nk-block-head-content">
                <div class="toggle-wrap nk-block-tools-toggle">
                    <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em
                            class="icon ni ni-more-v"></em></a>
                    <div class="toggle-expand-content" data-content="pageMenu">
                        <ul class="nk-block-tools g-3">
                            <li>
                                <div class="drodown">
                                    <a href="#" class="dropdown-toggle btn btn-white btn-dim btn-outline-light"
                                        data-bs-toggle="dropdown"><em
                                            class="d-none d-sm-inline icon ni ni-calender-date"></em><span><span
                                                class="d-none d-md-inline">Import</span> Excel</span><em
                                            class="dd-indc icon ni ni-chevron-right"></em></a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <ul class="link-list-opt no-bdr">
                                            <li><a href="#"><span>Last 30 Days</span></a></li>
                                            <li><a href="#"><span>Last 6 Months</span></a></li>
                                            <li><a href="#"><span>Last 1 Years</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="nk-block-tools-opt"><button @onclick="(()=>OpenCreateForm(null))"
                                    class="btn btn-info"><em class="icon ni ni-plus"></em><span>Add
                                        User</span></button></li>

                        </ul>
                    </div>
                </div>
            </div><!-- .nk-block-head-content -->
        </div><!-- .nk-block-between -->
    </div><!-- .nk-block-head -->
    <div class="nk-block">
        <MudTable Loading="loading" Items="@Cities" Dense="true" Hover="@hover" Bordered="@bordered" Striped="@striped"
            Filter="new Func<UserDto,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Users</MudText>
                <MudSpacer />
                <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start"
                    AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Id</MudTh>
                <MudTh>Username</MudTh>
                <MudTh>Email</MudTh>
                <MudTh>Phone Number</MudTh>
                <MudTh>First Name</MudTh>
                <MudTh>Last Name</MudTh>
                <MudTh>User Group</MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Nr">@context.Id</MudTd>
                <MudTd DataLabel="Region">@context.UserName</MudTd>
                <MudTd DataLabel="Name">@context.Email</MudTd>
                <MudTd DataLabel="Name">@context.PhoneNumber</MudTd>
                <MudTd DataLabel="Name">@context.FirstName</MudTd>
                <MudTd DataLabel="Name">@context.LastName</MudTd>
                <MudTd DataLabel="Name">@context.UserGroup</MudTd>
                <MudTd DataLabel="CreatedBy"></MudTd>
                <MudTd DataLabel="Actions">
                    <MudIconButton Icon="@Icons.Filled.RemoveRedEye" Variant="Variant.Outlined" Color="Color.Info"
                        Size="Size.Small" Href="@($"/users/detail/{context.Id}")" Target="" />
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" @onclick="(()=>OpenCreateForm(id:context.Id))"
                        Variant="Variant.Outlined" Color="Color.Primary" Size="Size.Small" />

                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>

    </div>
</div>


@code {

    private bool dense = false;
    private bool hover = true;
    private bool striped = false;
    private bool bordered = false;
    private bool loading = true;
    private string searchString1 = "";
    private UserDto selectedItem1 = null;
    private HashSet<UserDto> selectedItems = new HashSet<UserDto>();
    DialogOptions maxWidth = new DialogOptions()
    {
        MaxWidth = MaxWidth.Large,
        FullWidth = true,
        Position = DialogPosition.TopCenter
    };

    private List<UserDto> Cities = new List<UserDto>();

    protected override async Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        Cities = await authService.GetAll($"{EndPoints.AccountEndPoint}GetUsers");
        loading = false;
    }

    private async Task OpenCreateForm(string id = null)
    {
        IDialogReference dialog;
        var parameters = new DialogParameters();
        if (id != null)
        {
            parameters.Add("Id", id);
            parameters.Add("ButtonText", "Update User");
            dialog = Dialog.Show<Create>("Update User", parameters, maxWidth);
        }
        else
        {
            parameters.Add("ButtonText", "Register User");

            dialog = Dialog.Show<Create>("Add New User", parameters, maxWidth);
        }
        var result = await dialog.Result;


        await OnInitializedAsync();

    }

    private bool FilterFunc1(UserDto element) => FilterFunc(element, searchString1);

    private bool FilterFunc(UserDto element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.UserName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        if (element.Id.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}
