@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudFileUploader />

<MudLayout>
    <MudAppBar Elevation="0" style="background-color: green;">

        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start"
            OnClick="@((e) => DrawerToggle())" />
        <MudSpacer />
        @* <MudHidden Breakpoint="Breakpoint.Sm" Invert="true"> *@


        <MudButton StartIcon="@Icons.Filled.Dashboard" Href="/" Color="Color.Inherit">Dashboard
        </MudButton>
        <MudButton StartIcon="@Icons.Filled.TaskAlt" Href="/licenceworkflows/index" Color="Color.Inherit">My
            Worksheet</MudButton>
        @* <MudMenu StartIcon="@Icons.Material.Filled.MergeType" Label="Licence Types" Color="Color.Inherit">
            <MudMenuItem>Detail Licence Types</MudMenuItem>
            <MudMenuItem>Detail Licence Template</MudMenuItem>

            </MudMenu> *@
        <MudButton StartIcon="@Icons.Filled.MergeType" Href="/licencetypes/index" Color="Color.Inherit">
            Licence Types</MudButton>

        <MudButton StartIcon="@Icons.Filled.Home" Href="/companies/index" Color="Color.Inherit">Detail Companies
        </MudButton>

        <MudButton StartIcon="@Icons.Filled.Search" Href="/licences/search" Color="Color.Inherit">Search
            Licence
        </MudButton>
        <MudButton StartIcon="@Icons.Filled.MenuBook" Href="/licences/index" Color="Color.Inherit">
            Detail Licences
        </MudButton>
        @* </MudHidden> *@


        <MudSpacer />
        <AuthorizeView>

            <CancelNotification />
        </AuthorizeView>


                            <div class="dropdown d-md-flex profile-1">
												<a href="#" data-bs-toggle="dropdown" class="nav-link pe-2 leading-none d-flex animate">
													<span>
														<img src="assets/images/userIcon.png" style="color:white" alt="profile-user"
															class="avatar  profile-user brround cover-image">
													</span>
													<div class="text-center p-1 d-flex d-lg-none-max ml-2">
                                                        <AuthorizeView>

														<h6 class="mb-0" style="color:white" id="profile-heading"><strong>@context.User.Identity.Name.ToLower()</strong><i class="user-angle ms-1 fa fa-angle-down " style="color:white;size: 0vmax;"></i></h6>
                                                        </AuthorizeView>
													</div>
												</a>
												<div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
													<a class="dropdown-item" href="/users/detail/">
														<svg xmlns="http://www.w3.org/2000/svg" class="w-inner-icn" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M14.6650391,13.3672485C16.6381226,12.3842773,17.9974365,10.3535767,18,8c0-3.3137207-2.6862793-6-6-6S6,4.6862793,6,8c0,2.3545532,1.3595581,4.3865967,3.3334961,5.3690186c-3.6583862,1.0119019-6.5859375,4.0562134-7.2387695,8.0479736c-0.0002441,0.0013428-0.0004272,0.0026855-0.0006714,0.0040283c-0.0447388,0.272583,0.1399536,0.5297852,0.4125366,0.5745239c0.272522,0.0446777,0.5297241-0.1400146,0.5744629-0.4125366c0.624939-3.8344727,3.6308594-6.8403931,7.465332-7.465332c4.9257812-0.8027954,9.5697632,2.5395508,10.3725586,7.465332C20.9594727,21.8233643,21.1673584,21.9995117,21.4111328,22c0.0281372,0.0001831,0.0562134-0.0021362,0.0839844-0.0068359h0.0001831c0.2723389-0.0458984,0.4558716-0.303833,0.4099731-0.5761719C21.2677002,17.5184937,18.411377,14.3986206,14.6650391,13.3672485z M12,13c-2.7614136,0-5-2.2385864-5-5s2.2385864-5,5-5c2.7600708,0.0032349,4.9967651,2.2399292,5,5C17,10.7614136,14.7614136,13,12,13z"/></svg>
														Profile
													</a>
												
													<a class="dropdown-item" href="/auth/logout">
														<svg xmlns="http://www.w3.org/2000/svg" class="w-inner-icn" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><path d="M10.6523438,16.140625c-0.09375,0.09375-0.1464233,0.2208862-0.1464233,0.3534546c0,0.276123,0.2238159,0.5,0.499939,0.500061c0.1326294,0.0001221,0.2598267-0.0525513,0.3534546-0.1464844l4.4941406-4.4941406c0.000061-0.000061,0.0001221-0.000061,0.0001831-0.0001221c0.1951294-0.1952515,0.1950684-0.5117188-0.0001831-0.7068481L11.359314,7.1524048c-0.1937256-0.1871338-0.5009155-0.1871338-0.6947021,0c-0.1986084,0.1918335-0.2041016,0.5083618-0.0122681,0.7069702L14.2930298,11.5H2.5C2.223877,11.5,2,11.723877,2,12s0.223877,0.5,0.5,0.5h11.7930298L10.6523438,16.140625z M16.4199829,3.0454102C11.4741821,0.5905762,5.4748535,2.6099243,3.0200195,7.5556641C2.8970337,7.8029175,2.9978027,8.1030884,3.2450562,8.2260742C3.4923706,8.3490601,3.7925415,8.248291,3.9155273,8.0010376c0.8737793-1.7612305,2.300354-3.1878052,4.0615845-4.0615845C12.428833,1.730835,17.828064,3.5492554,20.0366821,8.0010376c2.2085571,4.4517212,0.3901367,9.8509521-4.0615845,12.0595703c-4.4517212,2.2085571-9.8510132,0.3901367-12.0595703-4.0615845c-0.1229858-0.2473145-0.4231567-0.3480835-0.6704102-0.2250977c-0.2473145,0.1229858-0.3480835,0.4230957-0.2250977,0.6704102c1.6773682,3.4109497,5.1530762,5.5667114,8.9541016,5.5537109c3.7976685,0.0003662,7.2676392-2.1509399,8.9560547-5.5526733C23.3850098,11.4996338,21.3657227,5.5002441,16.4199829,3.0454102z"/></svg>
														Log out
													</a>
												</div>
											</div>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="1" class="@NavBarClass">
        <MudDrawerHeader style="background-color: green;">
            <MudImage Src="images/som.png" class="mr-5" Height="40"></MudImage>
            <MudText Typo="Typo.h6" Class="mt-2 ml-5"></MudText>
            <MudText Typo="Typo.h6" Class="mt-2 ml-5"></MudText>
            <MudText Typo="Typo.h6" Class="mt-2 ml-5"></MudText>
            <MudText Typo="Typo.h6" Class="mt-2 ml-5"></MudText>
            <MudImage Src="images/som.png" class="mr-5" Height="40"></MudImage>

        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="my-2">
            @Body

        </MudContainer>
          
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = false;
    public Action OnChanged { get; set; }


    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
        if (OnChanged != null) OnChanged();//Callback for reload
    }
    public string NavBarClass
    {
        get
        {
            if (_drawerOpen) return String.Empty;//No additional css class for show nav bar
            return "d-none";//d-none class will hide the div
        }
    }
}